
{% extends "@Quizz/layout.html.twig" %}


{% block title %}

  Accueil - {{ parent() }}

{% endblock %}


{% block ocplatform_body %}


  <h2>Quizzs déjà effectués</h2>


  <ul>

    {% for quizz in listQuizz %}

      <li>

        <a href="{{ path('quizz_view', {'id': quizz.id}) }}">

          {{ Quizz.title }}

        </a>

        par {{ Quizz.author }},

        le {{ Quizz.date|date('d/m/Y') }}

      </li>

    {% else %}

      <li>Aucun quizz pour l'instant</li>

    {% endfor %}

  </ul>


{% endblock %}